@charset "UTF-8";

body {
    text-align: center;
    background-color: #ffffec;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    
}

body > div {
    float:left;
}

#grid-container{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    visibility: hidden;
}

#grid-container > div {
    border: 1px solid #9f9f9f;
}

#grid-container div > input {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 2em;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

#result{
    margin-left: 5px;
}

#result > #dice1, #dice2, #dice3, #dice4, #dice5{
    border: 1px solid black;
    width: 30px;
    text-align: center;
    margin: 1px;
    float: left;
    cursor: pointer;

}

.active{
    background-color: rgb(167, 177, 255);
}

/*
.chosen{
    background-color: rgb(167, 177, 255);
}*/

#throw{
    display: none;
}

#next {
    display: none;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    //border-radius: 10px;   
}

#yatzy{
    font-size: 4em;
    color: rgb(255, 0, 225);
    position: absolute;
    margin-left: 50%;
    top: 50%;
    animation-name: yatzy;
    animation-duration: 2s;
    animation-iteration-count: 10;
}

@keyframes yatzy {
    from {color: rgb(0, 72, 255);}
    to {color: rgb(0, 255, 30);}
  }

